@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.inp {
    border: solid 2px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 1%;
    width: 300px;
    font-size: 20px;
    text-align: center;
    }

.saiba{
    text-align: justify;
}

*{
    margin: 0;
    padding: 0;
}

.logo_header{
    margin-left: -105px;
    padding-right: 10px;
    width: 200px;
}
.img_logo_header img{
    width: 200px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imagens/recursos/background.png);  
    overflow-x: hidden;
}
.header img{
    width: 120px;
    height: 120px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-blue);
    justify-content: center;
    padding: 0 10%;
    height: 8rem;
    width: 85%;
    text-align: center;
    font-size: 23px;
    box-shadow: 1px 1px 4px var(--color-dark4);
    color: var(--color-white)
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding: auto;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: var(--color-white);
    transition: 1s;
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;    
    justify-content: center;
}

.card button{
    background-color: var(--button-color);
    margin-top: 2%;
    padding: 1%;
    border: solid var(--color-dark1) 1px ;
    font-size: 1rem;
    border-radius: 45px;
}
.card img{
    border-radius: 100px;
    width: 200px;
    height: 230px;
    float: left;
    padding: 2%;
    margin-top: -20px;
    margin-left: -20px;
}

.navigation_header a{
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: var(--color-blue1);
}
.active{
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
    .card img{
        display: none;
    }
    .ramos img{
        display: none;
    }
    .slider{
        display: none;
    }
    .mapBox iframe{
        width: 400px;
    }
    .ramos h3, h1{
        text-align: center;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}
.card{
    background-color: var(--color-g);
    color: var(--color-white);
    width: 75%;
    margin: 3%;
    margin-left: 10%;
    border-radius: 45px;
    padding: 3%;
    font-size: 1.5rem;
}

.pfp{
    width: 10px;
}

.slider{
    margin: 0 auto;
    margin-top: 30px;
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
    margin-top: 80px;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
    max-height: 400px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-right: 40px;
    justify-content: center;
}



.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}


#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.ramos{
    width: 100%;
    padding: 1%;

    display: flex;
    flex-direction: column;
}

.lobinho{
    background-color: var(--lobinho);
    color: var(--color-white);
    width: 75%;
    border-radius: 45px;
    padding: 3%;
    margin: 3%;
    text-align: justify;
    margin-left: 10%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.45rem;
}

.escoteiro{
    background-color: var(--escoteiro);
    color: var(--color-white);
    width: 75%;
    border-radius: 45px;
    padding: 3%;
    margin: 3%;
    text-align: justify;
    margin-left: 10%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.45rem;
}

.senior{
    background-color: var(--senior);
    color: var(--color-white);
    width: 75%;
    margin: 3%;
    margin-left: 10%;
    border-radius: 45px;
    padding: 3%;
    text-align: justify;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.45rem;
}

.pioneiro{
    background-color: var(--pioneiro);
    color: var(--color-white);
    width: 75%;
    margin: 3%;
    margin-left: 10%;
    border-radius: 45px;
    text-align: justify;
    padding: 3%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.45rem;
}

.ramos img {
    border-radius: 100px;
    width: 250px;
    height: 260px;
    float: left;
    padding-right: 1%;
}

.pioneiro img{
    height: 280px;
}

.ramos h3{
    font-size: 40px;
}

.footer{
    background-color: var(--color-blue);
    padding: 1%;
    bottom: 0px;
    /* position: fixed; */
    width: 100%;
    align-items: center;
    text-align: center;
}

.footer p{
    color: var(--color-white);
    font-size: 23px;
}

.footer img{
    width: 40px;
    padding-left: 15px;
}

.header h1{
    font-size: 1.5rem;
}
.busca{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 25vh;
    justify-content: center;
    align-items: center;
}
.busca2{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.busca input[type='text']{
    font-size: 25px;
    width: 500px;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
    text-align: center;
}
.busca2 input[type='text']{
    font-size: 25px;
    width: 500px;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
    text-align: center;
}
.tabela {
    align-items: center;
    }
.tabela td {
    border: solid 2px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 3%;
    width: 400px;
    text-align: center; 
    }
.topics{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;        
}

.criar input{
    width: 600px;
}

#Enviar{
    height: 50px;
    font-size: 25px;
    padding: 1%;
    background-color: var(--color-g);
    color: white;
}

#topic_body{
    height: 300px;
}

.criar p{
    font-size: 20px;
}

.criar{
        padding: auto;
        margin: auto;
        text-align: center;
        background-color: var(--color-white);
        transition: 1s;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid 1px black;
}


.topico h1{
    font-size: 80px;
}

.topico p{
    text-align: justify;
    font-size: 28px;
    padding: 4%;
}
.autordata{
    display: inline-flex;
    padding: 30px;
    justify-content: space-evenly;
    width: 40%;
    flex-direction: column-reverse;
}

.coment{
    padding: 3%;
    border: 1px solid black;
}

.pdfcontent{
    padding: auto;
    margin: auto;
    text-align: center;
    background-color: var(--color-white);
    transition: 1s;
    width: 90%;
    height: 1200px;
    border: 1px solid black;    
    justify-content: center;
}
.pdf {
    height: 90%;

}
.pdf embed{
    width: 75%;
    height: 100%;
}

.mailer input{
    text-align: center;
    font-size: 30px;
    padding: 1%;
    width: 75%;
}

.mailbody{
    height: 300px;
}

.mailer h2{
    text-align: left;
    padding-left: 15%;
}

.showuser a{
    text-decoration: none;
    color: black;
}

.showuser{
    font-size: 25px;
}

.showuser li{
   list-style: none;
}

.upfp{
    border-radius: 100%;
    height: 80px;
    width: 80px;
}


.produtos{
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 75%;
    /* max-width: 100px; */
    flex-wrap: wrap;
    gap: 70px;
}

.produtos a {
    text-decoration: none;
    color: black;
}

.produtos img{
    max-width: 200px;
}


.calendario{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    padding: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.calendario a{
    text-decoration: none;
    color: black;
}

.calendario h1{
    font-size: 55px;
    padding-bottom: 2%;
}



.pesquisa {
    border-radius: 0px;
    max-width: 40px;

    position: relative;
    left: 65px;

}

.eventos{
    font-size: 25px;
    width: 95%;
}
.userpfp{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.userdescricao{
    padding: 1%;
}
.control a{
    text-decoration: none;
    color: black;
}
.control{
    font-size: 20px;
}

